.inputContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 6.5rem;
}

.label {
    text-align: left;
    font-size: var(--font-size);
    font-weight: var(--font-weight-md);
    font-family: var(--font-text);
    color: var(--autumn-500);
    margin-bottom: calc(var(--spacing-xxs) / 2);
}

.inputField {
    outline: none;
    border: var(--tertiary-color-light) 1px solid;
    border-radius: 0.5rem;
    padding: var(--spacing-xxs);
    font-size: var(--font-size);
    font-family: var(--font-text);
    background-color: var(--almost-white);
    color: var(--autumn-500);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.errorInput{
    border: 2px solid red;
    box-shadow: 0px 0px 5px 0px rgba(255, 0, 0, 0.3);
}

.inputField::placeholder {
    font-size: var(--font-size);
    color: var(--autumn-500);
    opacity: 0.6;
}

.inputField:focus {
    border: var(--tertiary-color-dark) 2px solid;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  }

.error {
    color: red;
    font-size: var(--font-size);
    font-weight: var(--font-weight-sm);
    margin-top: calc(var(--spacing-xxs) / 2);
    min-height: var(--spacing-md);
    line-height: var(--line-height-xxs);
}