:root{

   /* Colors */

   /*** Main Color ***/
   --main-color: #EAC696;
   --main-color-light: #F3D8B3;
   --main-color-dark: #D4A97D; 

   /*** Secondary Color ***/
   --secondary-color: #C8AE7D;
   --secondary-color-light: #DDC298; 
   --secondary-color-dark: #A88C64; 

    /*** Tertiary Color ***/
   --tertiary-color: #8B6C3A; 
   --tertiary-color-light: #A07A4E; 
   --tertiary-color-dark: #6A4B2B;

   /*** Quaternary Color ***/
   --quaternary-color: #7A5630; 
   --quaternary-color-light: #8C6A4D; 
   --quaternary-color-dark: #5D3F23;

   /*** Extra Colors ***/
   --almost-white: #F5F5F5;
   

   /*** Fonts ***/
   --main-font-family: "Montserrat", serif;
   --secondary-font-family: "Lato", sans-serif;
   
   /*** Sizes ***/
   --font-size: 1rem;
   --font-size-sm: 0.75rem;
   --font-size-md: 1.25rem;
   --font-size-lg: 1.5rem;
   --font-size-xl: 2rem;

   /*** Weights ***/
   --font-weight-xs: 300;
   --font-weight-sm: 400;
   --font-weight-md: 500;
   --font-weight-lg: 600;
   --font-weight-xl: 700;

   /*** Line Height ***/
   --line-height-xxs: 1.15;
   --line-height-xs: 1.2;
   --line-height-sm: 1.4;
   --line-height-md: 1.6;
   --line-height-lg: 1.8;
   --line-height-xl: 2;

   /** Usage **/

   /*** Colors ***/
   --main-background-color: var(--main-color-light);
   --background-color-almost-green: #eac696b2;
   --main-accent-color: var(--tertiary-color-dark);
   --secondary-accent-color: var(--tertiary-color);

   /*** Text Color ***/
   --text-color: #2E2E2E;
   --text-color-light: #5A5A5A;
   --text-color-dark: #000000;
   --text-color-almost-white: var(--almost-white);

   /*** Link Color ***/
   --link-color: #3A6DBF;
   --link-color-hover: #2C5187;
  
   /**** Button Color ****/
   --main-button-color: var(--tertiary-color-dark);
   --main-button-color-hover: var(--tertiary-color);
   --main-button-color-disabled: var(--tertiary-color-light);
   --secondary-button-color: var(--secondary-color-dark);
   --secondary-button-color-hover: var(--secondary-color);
   --secondary-button-color-disabled: var(--secondary-color-light);

   /*** Font Family ***/
   --font-heading: var(--secondary-font-family);
   --font-text: var(--main-font-family);

   /*** Font Size ***/
   --font-size-h1: var(--font-size-xl);
   --font-size-h2: var(--font-size-lg);
   --font-size-h3: var(--font-size-md);
   --font-size-regular: var(--font-size);
   --font-size-small: var(--font-size-sm);

   /*** Spacing ***/
   --spacing-xxs: 0.5rem;
   --spacing-xs: 1rem;
   --spacing-sm: 1.5rem;
   --spacing-md: 2rem;
   --spacing-lg: 3rem;
   --spacing-xl: 4rem;
   --spacing-xxl: 5rem;

   /*** Breakpoints ***/
   --mobile-max-width: 576px;
   --tablet-max-width: 768px;
   --desktop-max-width: 992px;
   --large-desktop-min-width: 1200px;

   /** Test **/
   --autumn-100: #f3b875;
   --autumn-100-light: #fccc95;
   --autumn-200: #e88b63;
   --autumn-300: #d06a3c;
   --autumn-400: #9c4414;
   --autumn-500: #6a2a05;
   --autumn-500-dark: #411702;

   --autumn-background-color: var(--autumn-100);

   --autumn-heading-color: var(--autumn-500);
   --autumn-text-color: var(--autumn-400);

   --autumn-primary-button-color: #b97d37;
   --autumn-primary-button-color-hover: #9d6930;
   --autumn-primary-button-color-disabled: #d6b194;

   --autumn-secondary-button-color: #cf9450;
   --autumn-secondary-button-color-hover: #b37844;
   --autumn-secondary-button-color-disabled: #e0c6a5;

   

}

/* Global Styles */

body {
   box-sizing: border-box;
   min-height: 100vh;
   min-width: 100vw;
   margin: 0;
   padding: 0;
   font-family: var(--font-text);
   line-height: var(--line-height-md);
   color: var(--text-color);
  /* background-color: var(--autumn-100); */
   /* background: linear-gradient(45deg, var(--autumn-100), var(--autumn-200), var(--autumn-300), var(--autumn-400), var(--autumn-500)); */
   /* background: linear-gradient(125deg, #f3b875, #f0b572, #ecb16e, #e9ae6b, #e6ab67, #e3a764, #dfa461, #dca15d, #d99e5a, #d69a57, #d29753, #cf9450);    */
   background-image: linear-gradient(
      45deg,
      #f3b875 0%,
      #f4ba78 15%,
      #f5bc7b 22%,
      #f6be7f 28%,
      #f7c182 33%,
      #f8c486 37%,
      #f9c789 42%,
      #fac98d 46%,
      #fbc991 50%,
      #fbc98d 54%,
      #fac88b 58%,
      #f9c787 63%,
      #f8c683 67%,
      #f8c581 72%,
      #f8c47f 78%,
      #f8c37d 85%,
      #f8c27b 100%
    );
    
}

div, section, article {
   box-sizing: border-box;
}



h1, h2, h3 {
   font-family: var(--font-heading);
   color: var(--text-color-dark);
   font-weight: var(--font-weight-md);
}

h1 {
   font-size: var(--font-size-h1);
   font-weight: var(--font-weight-lg);
}

h2 {
   font-size: var(--font-size-h2);
}

h3 {
   font-size: var(--font-size-h3);
}

p {
   font-size: var(--font-size-regular);
   font-weight: var(--font-weight-sm);
   line-height: var(--line-height-sm);
}

button {
   border-radius: 0.5rem;
   cursor: pointer;
   font-family: var(--font-text);
   padding: 0.65rem 1.25rem;
   border: none;
   transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

button.primaryButton {
   background-color: var(--main-button-color);
   color: var(--text-color-almost-white);
}

button.primaryButton:hover {
   background-color: var(--main-button-color-hover);
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

button.primaryButton:disabled {
   background-color: var(--main-button-color-disabled);
   cursor: not-allowed;
}

button.secondaryButton {
   background-color: var(--secondary-button-color);
   color: var(--text-color-almost-white);
}

button.secondaryButton:hover {
   background-color: var(--secondary-button-color-hover);
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

button.secondaryButton:disabled {
   background-color: var(--secondary-button-color-disabled);
   cursor: not-allowed;
}

button.autumnPrimaryButton {
   background-color: var(--autumn-primary-button-color);
   color: var(--text-color-almost-white);
}

button.autumnPrimaryButton:hover {
   background-color: var(--autumn-primary-button-color-hover);
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

button.autumnPrimaryButton:disabled {
   background-color: var(--autumn-primary-button-color-disabled);
   cursor: not-allowed;
}

button.autumnSecondaryButton {
   background-color: var(--autumn-secondary-button-color);
   color: var(--text-color-almost-white);
}

button.autumnSecondaryButton:hover {
   background-color: var(--autumn-secondary-button-color-hover);
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

button.autumnSecondaryButton:disabled {
   background-color: var(--autumn-secondary-button-color-disabled);
   cursor: not-allowed;
}

a {
   color:var(--link-color);
   text-decoration: none;
   transition: color 0.2s ease;
 }
 
 a:hover {
   color:var(--link-color-hover);
 }

 .pageContainer {
   max-width: 1200px;
   min-height: 100vh;
   margin: 0 auto;
   padding: 0 var(--spacing-sm);
 }

 .mt-1 {
   margin-top: var(--spacing-xs)
 }

 .mt-2 {
   margin-top: var(--spacing-md)
 }

 .mt-3 {
   margin-top: var(--spacing-lg)
 }

 .mt-4 {
   margin-top: var(--spacing-xl)
 }

 .mt-5 {
   margin-top: var(--spacing-xxl)
 }

 .noScroll {
   overflow: hidden;
 }

 