.pageContainer {
    display: flex;
    height: inherit;
    flex-direction: row;
    background-color:color-mix(in srgb, var(--secondary-color-light) 30%, var(--almost-white) 70%);
}


.leftPage, .rightPage {
    width: 50%;
    height: inherit;
}

.leftPage img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}
.textContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 0.5rem;
    overflow-y: scroll;
}

.textContainer p {
    margin: 0.5rem 0;
}

.textContainer h2 {
    margin: 0;
    font-size: var(--font-size-md);
    line-height: var(--line-height-sm);
}

.rightPage {
    box-shadow: -10px 10px 60px rgba(0, 0, 0, 0.35);
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border-left: 2px solid color-mix(in srgb, var(--secondary-color-light) 25%, var(--almost-white) 75%);
}

.rightPage p {
    font-weight: var(--font-weight-sm);
    line-height: var(--line-height-md);
}

.leftPage {
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.35); 
    border-right: 2px solid color-mix(in srgb, var(--secondary-color-light) 25%, var(--almost-white) 75%);
 }

 .isMobile {
    display: none;
 }

 .isTabletOrDesktop {
    display: none;
 }

 @media screen and (max-width: 576px)  {
    .isMobile {
        display: block;
    }
    .isTabletOrDesktop {
        display: none;
     }
 }

 @media screen and (max-width: 768px) {
    .isMobile  {
        display: none;
    }
    .isTabletOrDesktop {
        display: block;
     }
 }

 @media screen and (max-width: 992px) {
    .isMobile  {
        display: none;
    }
    .isTabletOrDesktop {
        display: block;
     }
 }

 @media screen and (min-width: 1200px) {
  .isMobile  {
      display: none;
  }
  .isTabletOrDesktop {
      display: block;
   }
}
