.pageContainer {
    display: flex;
    flex-direction: row;
}

.leftPage, .rightPage {
    width: 50%;
    background-color:#fff6ec;
}

.leftPage img {
    max-width: 100%;
    aspect-ratio: 16/9;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}


.rightPage {
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.55);
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}


.leftPage {
    box-shadow: 10px 0px 10px rgba(0, 0, 0,65);
}
