.container {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

.fullNavbar {
    display: flex;
    background: rgba(106, 42, 5, 0.89);
    border-bottom: 1px solid var(--autumn-border-color);
    box-shadow: 0 0 10px var(--autumn-border-color), 0 0 4px rgba(255, 223, 186, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    align-items: center;
    padding: var(--spacing-xxs) 0;
    height: 2.2rem;  
}

.fullNavbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: var(--spacing-xxs);    
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 1rem;
}

.title {
    font-size: var(--font-size-lg);
    color:var(--autumn-extra-100);
    flex-grow: 1;
}

.title:hover{
    color:var(--autumn-extra-200);
    transition: ease-in 0.1s;
}

.fullNavbar .navLinks {
    margin-right: var(--spacing-xl);
}

.navLinks a {
    color: var(--autumn-extra-100);
    position: relative;
    font-size: var(--font-size);
    padding: 1rem var(--spacing-xs);
}

.navLinks a:hover {
    color:  var(--autumn-extra-200);
    transition: ease-in 0.2s;
}


.active {
    background-color: var(--autumn-extra-100);
    color: var(--autumn-extra-300);
    transition: 0.4s ease-in;
}

.navLinks a.active {
    color: var(--autumn-extra-300);
}

 .navLinks a.active:hover {
    background-color: var(--autumn-extra-200);
}


.navLinks a::after  {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.8rem;
    width: 100%;
    height: 0.095rem;
    background-color: var(--autumn-extra-200);
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform 0.4s ease-in;
 }

.navLinks a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
 }
 
.navLinks a.active::after {
    transform: scaleX(0);
}

 .user {
    display: flex;
    align-items: center;
 }

 .userImg {
    height: 2.15rem;
    object-fit: contain;
    aspect-ratio: 1;
    border-radius: 50%;
 }

 .userButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    aspect-ratio: 1;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: solid 1px var(--autumn-extra-100);
    box-shadow: 0 0 3px #E6B35C, 0 0 2px rgba(255, 223, 186, 0.4);
   
 }

 .userButton:hover {
    border-color: (--autumn-extra-200);
    box-shadow: 0 0 6px #E6B35C, 0 0 4px rgba(255, 223, 186, 0.8);
    transition: ease-in 0.1s;
    
 }
 
 .profileActionContainer {
    display: flex;
    position: absolute;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: var(--spacing-xs); 
    text-align: left;
    z-index: 999;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top; 
    transition: opacity 0.3s ease, transform 0.3s ease-in;
 }

 .profileActionContainer.open {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top; 
}

 .profileActionContainer ul {
    list-style: none;
    padding: 1rem 1.42rem;
    margin: 0;
    border-bottom-left-radius: 0.5rem;
    background: rgba(106, 42, 5, 0.89);
    border: 1px solid var(--autumn-border-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 2px 10px var(--autumn-border-color), 0 0 4px rgba(255, 223, 186, 0.15);
    border-top: none;
    color: var(--autumn-extra-100);
 }
 
 .profileActionContainer li {
    margin-bottom: 0.5rem;
 }

 .profileActionContainer ul li {
    width: fit-content;
    position: relative;
    color: var(--autumn-100);
    text-align: left;
}

.profileActionContainer ul li::after {
    content: "";
    position: absolute;
    left: -0.5rem; 
    right: -0.5rem;
    bottom: -0.25rem; 
    height: 0.095rem; 
    background-color: var(--autumn-extra-200);
    transform: scaleX(0); 
    transform-origin: bottom right; 
    transition: transform 0.4s ease-in;
}

.profileActionContainer ul li:hover {
    cursor: pointer;
    color: var(--autumn-extra-200);
    transition: color 0.2s ease-in;
}

.profileActionContainer ul li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and ((min-width: 1200px) and (min-height: 800px)) {
    .title {
        font-size: var(--font-size-xl);
    }

    .fullNavbar {
        height: 2.8rem;
    }

    .navLinks a {
        font-size: var(--font-size-md);
        padding: 1.15rem var(--spacing-xs);
    }

    .fullNavbar ul  {
        gap: var(--spacing-md);
    }

    .navLinks a::after  {
        bottom: 0.6rem;
     }

    .userImg {
        height: 2.5rem;
     }
    
     

     .navContainer {
        margin: 0 2.5rem;
    }

    .profileActionContainer ul {
        padding: var(--spacing-xs) 2.4rem;
        margin: 0;
        border-bottom-left-radius: var(--spacing-xxs);
        font-size: 1.1rem;
     }
}