.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}

.fullNavbar {
    display: flex;
    background-color: var(--autumn-500);
    align-items: center;
    padding: var(--spacing-xxs) 0;
    height: 3.5rem;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    
}

.fullNavbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: var(--spacing-xs);  
    
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 2rem 0 2rem;
}

.title {
    font-size: var(--font-size-xl);
    color: var(--autumn-100);
}

.title:hover{
    color: #fccc95;
}



.navLinks a {
    position: relative;
    font-size: var(--font-size);
    padding: 1.635rem var(--spacing-xs);
   
}


.navLinks a:hover {
    transition: ease-in 0.2s;
}

.navLinks a::after  {
    content: "";
    position: absolute;
    left: 0;
    bottom: var(--spacing-xs);
    width: 100%;
    height: 0.095rem;
    background-color:var(--autumn-100);
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform 0.4s ease-in;
 }

.navLinks a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
 }

 .user {
    display: flex;
    align-items: center;
    color: var(--autumn-100);
 }

 .userImg {
    height: 2.5rem;
    object-fit: contain;
    aspect-ratio: 1;
    border-radius: 50%;
 }

 .userButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.75rem;
    aspect-ratio: 1;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    background-color: var(--autumn-100);
 }

 .userButton:hover {
    background-color: #fccc95;
    transition: ease-in 0.2s;
 }
 
 .profileActionContainer {
    display: flex;
    position: absolute;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: var(--spacing-xs); 
    text-align: left;
    z-index: 999;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top; 
    transition: opacity 0.3s ease, transform 0.3s ease-in;
 }

 .profileActionContainer.open {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top; 
}

 .profileActionContainer ul {
    list-style: none;
    padding: 0 2rem 1rem;
    margin: 0;
    border-bottom-left-radius: 0.5rem;
    background-color: var(--autumn-500);
    color: var(--autumn-100);
 }

 .profileActionContainer ul li {
    width: fit-content;
    position: relative;
    padding: 0.2rem 0;
    color: var(--autumn-100);
    text-align: left;
}

.profileActionContainer ul li::after {
    content: "";
    position: absolute;
    left: -0.5rem; 
    right: -0.5rem;
    bottom: 0rem; 
    height: 0.095rem; 
    background-color: var(--autumn-100);
    transform: scaleX(0); 
    transform-origin: bottom right; 
    transition: transform 0.4s ease-in;
}

.profileActionContainer ul li:hover {
    cursor: pointer;
    color: #fccc95;
    transition: color 0.2s ease-in;
}

.profileActionContainer ul li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
 