.overViewCard {
    max-width: 10rem;
    height: 22rem;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.2s;
    background: rgba(106, 42, 5, 0.89);
    box-shadow: 0 0 10px var(--autumn-border-color), 0 0 4px rgba(255, 223, 186, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 0.5rem;
  }
  
  .overViewCard:hover {
    transform: translateY(-2px);
    border: 1px solid var(--autumn-border-color);
  }
  
  .overViewCardImageContainer {
    height: 8rem;
    width: 100%;
  }

  .overViewCardImageContainer p {
    padding-top: 2rem;
    color: var(--autumn-100);
    font-size: calc(var(--font-size) - 0.1rem);
    line-height: var(--line-height-xs);
    text-align: center;
  }

  .overViewCardImage {
   height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .overViewCardContent {
    padding: var(--spacing-xxs);
  }
  
  .overViewCardContent h3 {
    margin: 0;
    font-size: calc(var(--font-size) + 0.1rem);
    line-height: var(--line-height-xs);
    color: var(--autumn-extra-200);
  }
  
  .overViewCardContent p {
    margin: var(--spacing-xxs) 0rem 0rem 0rem;
    line-height: var(--line-height-xs);
    color: var(--autumn-100);
  }

  .link {
    cursor: pointer;
    text-decoration: none;
    color: var(--autumn-extra-200);
  }
  
  .link:hover {
    color: inherit;
    text-decoration: underline;
  }